{
  "extends": [
    "@wsmd/eslint-config/base",
    "@wsmd/eslint-config/typescript",
    "@wsmd/eslint-config/prettier"
  ],
  "overrides": [
    {
      "files": ["test/**/*.ts"],
      "rules": {
        "@typescript-eslint/no-array-constructor": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "func-names": "off",
        "lines-between-class-members": "off",
        "max-classes-per-file": "off",
        "no-new-object": "off",
        "no-var": "off",
        "prefer-rest-params": "off",
        "symbol-description": "off"
      }
    }
  ]
}
